.Rproj.user
GCF_000146045.2_R64_genomic.fna
GCF_000146045.2_R64_genomic.gff
R64_chr1.fna
alignment.bam
alignment.sorted.bam
alignment.sorted.bam.bai
cds_aln.bam
cds_aln.sorted.bam
cds_aln.sorted.bam.bai
cds_aln.sam




